@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	span.slogantext {
		font-size: 32px;
		box-shadow: 0 0 0 10px #fff;
		background-color: #fff;
		box-decoration-break: clone;
		line-height: 2.2;
	}

	.nav-bar {
		/*background-image: url('/images/lab.webp'), url('/images/lab.png');*/
		background:rgba(255,255,255,0.3);
		background-size: cover;
		background-position: 120px;
		/*border-bottom: 1px solid #DEDEDE;*/
	}

	.bannerHomePage {
		/*backgroundImage: 'url(/images/lab.png)', backgroundPosition: 'center'*/
		/*background-image: url('/images/lab.webp');*/
		background-image: url('/images/microscope.webp');
		/*background-position: center;*/
		

		background-size: cover;
		background-position: left center;

		/* parallax scrolling */
		min-height: 368px;

		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	@media only screen and (max-device-width: 600px) { .bannerHomePage{
		background-image: url('/images/microscope.webp');

		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	} }

	.bannerFindTalent {
		/*style={{ backgroundImage: 'url(/images/female_scientist.webp)', backgroundPosition: 'center', backgroundSize: 'cover'*/
		background-image:url(/images/female_scientist.webp), url(/images/female_scientist.jpg);
		background-size: cover;
		background-position: center;
	}

	.sloganContainer {
		
	}

	.markdown {
		font-family: "charter", "Georgia", "Cambria", "Times New Roman", "Times", "serif charter";
		font-size: 20px;
		font-weight: 400;
		line-height: 32px;
		letter-spacing: -0.063px;
		text-rendering: optimizelegibility;
	}

	/* .markdown is a workaround so that ReactMarkdown uses css */
	.markdown h1 {
		@apply text-4xl font-bold mb-2;
	}
	.markdown ul {
		list-style: disc;
		padding-left: 30px;
		margin-top: 10px;
		margin-bottom: 30px;
	}
	.markdown ul > li {
		margin-bottom: 8px;
		text-align: justify;
	}

	.markdown h2 {
		@apply text-3xl mt-2;
	}
	.markdown p {
		margin-top: 10px;
		margin-bottom: 30px;
		text-align: justify;

	}

	.markdown h3 {
		@apply text-2xl font-bold;
		margin-top: 10px;
	}

	.max-screen-sm {
		max-width: 640px;
	}
	.max-screen-md {
		max-width: 768px;
	}
	.max-screen-lg {
		max-width: 1024px;
	}
	.max-screen-xl {
		max-width: 1280px;
	}
	.max-screen-2xl {
		max-width: 1536px;
	}

	.back-button:hover {
		fill:red;
	}

	.modal {
	  position: relative;
	  top: 0;
	  left: 0;
	  width:100%;
	  height: 100%;
	  background: rgba(0, 0, 0, 0.6);
	}

	.modal-main {
	  position:fixed;
	  background: white;
	  width: 80%;
	  height: auto;
	  top:50%;
	  left:50%;
	  transform: translate(-50%,-50%);
	}

	.display-block {
	  display: block;
	}

	.display-none {
	  display: none;
	}

	.modal-open {
	overflow: hidden
}

	.modal {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1050;
		display: none;
		overflow: hidden;
		outline: 0
	}

	.modal-open .modal {
		overflow-x: hidden;
		overflow-y: auto
	}

	.modal-dialog {
		position: relative;
		width: auto;
		margin: .5rem;
		pointer-events: none
	}

	.modal.fade .modal-dialog {
		transition: -webkit-transform .3s ease-out;
		transition: transform .3s ease-out;
		transition: transform .3s ease-out, -webkit-transform .3s ease-out;
		-webkit-transform: translate(0, -25%);
		transform: translate(0, -25%)
	}

	@media screen and (prefers-reduced-motion:reduce) {
		.modal.fade .modal-dialog {
			transition: none
		}
	}

	.modal.show .modal-dialog {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0)
	}

	.modal-dialog-centered {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		min-height: calc(100% - (.5rem * 2))
	}

	.modal-content {
		position: relative;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 60%;
		pointer-events: auto;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid rgba(0, 0, 0, .2);
		border-radius: .3rem;
		outline: 0
	}

	.modal-backdrop {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1040;
		background-color: #000
	}

	.modal-backdrop.fade {
		opacity: 0
	}

	.modal-backdrop.show {
		opacity: .5
	}

	.modal-header {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: start;
		align-items: flex-start;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 1rem;
		border-bottom: 1px solid #e9ecef;
		border-top-left-radius: .3rem;
		border-top-right-radius: .3rem
	}

	.modal-header .close {
		padding: 1rem;
		margin: -1rem -1rem -1rem auto
	}

	.modal-title {
		margin-bottom: 0;
		line-height: 1.5
	}

	.modal-body {
		position: relative;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		padding: 1rem
	}

	.modal-footer {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-pack: end;
		justify-content: flex-end;
		padding: 1rem;
		border-top: 1px solid #e9ecef
	}

	.modal-footer>:not(:first-child) {
		margin-left: .25rem
	}

	.modal-footer>:not(:last-child) {
		margin-right: .25rem
	}

	.modal-scrollbar-measure {
		position: absolute;
		top: -9999px;
		width: 50px;
		height: 50px;
		overflow: scroll
	}

	.footer-list li {
		margin-top: 10px;
	}

	.instructions li {
		margin-top: 10px;
		margin-bottom: 10px;
		list-style-type: circle;
		margin-left: 20px;
	}
/*
	@media (min-width:576px) {
		.modal-dialog {
			max-width: 500px;
			margin: 1.75rem auto
		}
		.modal-dialog-centered {
			min-height: calc(100% - (1.75rem * 2))
		}
		.modal-sm {
			max-width: 300px
		}
	}

	@media (min-width:992px) {
		.modal-lg {
			max-width: 800px
		}
	}
*/
}

.input-field {
	border: 2px solid #D8D8D8;
	padding: 5px;
	font-size: 18px;
	line-height: 28px;
	width: 100%;
}